.box{
  width: 400px;
  height: 400px;
  border: 1px #F00 solid;
  background-image: url('../image/pc.png');
  background-repeat: no-repeat;
  background-position: right center top center;
  background-size: cover;
  background-attachment: ;
}
