div{
  margin:20px 20px 20px 20px;
  /* margin: top right bottom left ; 시계방향으로 돌아감 */
  /* margin, border, padding 같은 방식으로 작성 가능 */
  /* border:5px #F00 solid; */
  border-width:1px 2px 3px 4px;
  border-style:solid dotted dotted solid;
  border color:red blue green pink;
  padding:20px;
  width:100px;
  height:100px;}

  button{
    background-color: pink;
    border-color: black;
    border:0;
    border-bottom: 1px #000 solid;
    border-right: 1px #000 solid;
    padding-left: 20px;
    padding-right:20px;
    margin-left: 10px;
    margin-right: 10px;
    }

button:hover{
  background-color:blue;
  }
