.bg{
  border: 1px #F00 solid;
  height: 540px;
  width: 900px;
  background: url(https://ssl.pstatic.net/static/newsstand/img/20121231/bg_panel.png) 50% 0 no-repeat;
  }

  .hearder{
    border: 1px #00F solid;
    width: 900px;
    height: 105px;
    border-bottom: 2px #000 solid;
    
  }

  .banner{
    border: 1px #000 solid;
    width: 468px;
    height: 60px;
    margin: 20px 30px;
    float:right;
  }

  .logo{
    border: 1px #F00 solid;
    width: 260px;
    height: 55px;
    margin: 20px 0 0 30px;
    background: url(https://ssl.pstatic.net/static/newsstand/up/2013/0813/nsd111025525.gif);
    float: left;
  }

  .btn-group{
    margin-left: 30px;
    clear: left;
  }

  .btn-group .subscribe{
    border: 1px #000 solid;
    width: 66px;
    height: 22px;
    background: url(https://ssl.pstatic.net/static/newsstand/img/20140716/sp_nwstd.png) -187px -199px no-repeat;
    font-size: 0;
    vertical-align: middle;
    float: top;
  }

  .btn-group .users{
    display: inline-block;
    border: 1px #000 solid;
    width: 75px;
    height: 22px;
    background: url(https://ssl.pstatic.net/static/newsstand/img/20140716/sp_nwstd.png) -293px -174px no-repeat;
    font-size: 0;
    vertical-align: middle;
  }

  .btn-group .sns{
    border: 1px #000 solid;
    width: 28px;
    height: 22px;
    background: url(https://ssl.pstatic.net/static/newsstand/img/20140716/sp_nwstd.png) -500px -270px no-repeat;
    font-size: 0;
    vertical-align: middle;
  }

  .btn-group .time{
    border: 1px #000 solid;
    width: 90px;
    height: 14px;
    vertical-align: middle;
    font-size: 11px;
    }
